.button {
  width: 100%;
  min-height: 60px;
  max-width: 500px;
  display: grid;
  place-items: center;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  background: linear-gradient(
    180deg,
    rgba(9, 9, 121, 1) 15%,
    rgb(83, 137, 199) 100%
  );
  border: none;
  font-size: 1.5rem;
  transition: opacity 0.3s ease-in-out;
  color: var(--font-color);
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  @media (max-width: 1440px) {
    font-size: 1.2rem;
  }
  @media (max-width: 1024px) {
    font-size: 1rem;
    min-height: unset;
    padding: 0.5rem;
  }
}
